body {
  margin: 0;
}

main {
  width: 500px;
  margin: 5px auto 0 auto;
}

#search {
  padding: 10px;
  width: 100%;
}

#suggestion-box {
  border: 1px solid rgb(146, 167, 170);
  margin-top: 10px;
  min-height: 100px;
  padding: 10px;
  display: none;
}